.Posts {
    display: grid;
    padding: 5px 10px;
}

.Posts__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.Posts__new {
    border: 2px solid #686868;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.Posts__new__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.Posts__new__subtitle {
    /*border: 1px solid #686868;*/
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 15px;
}

.Post__input {
    width: 500px;
    height: 40px;
    border: 1px solid #686868;
    border-radius: 5px;
}

.btn__send {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    height: 35px;
    border: 2px solid black;
    margin: 5px 0;
    width: 60px;
    cursor: pointer;
}

.btn__send:hover {
    background-color: rgb(19, 204, 102);
    color: white;
}
