.UserInfo {
    display: grid;

    grid-template-areas: 
    'ui-header'
    'ui-main'
    'ui-footer'
    ;
    padding: 15px;
}

.UserInfo__header {
    display: grid;
    grid-area: ui-header;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgb(168, 168, 168);
}

.user__name {
    font-size: 24px;
}


.user__status {
    color: rgb(88, 88, 88);
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    place-content: start;
}

.user__status__yes {
    color: #6eff36;
    font-weight: 700;
}

.user__status__no {
    color: #ff1b40;
    font-weight: 700;
}

.UserInfo__main {
    grid-area: ui-main;
    padding-top: 10px;
}

.UserInfo__ul {
    grid-template-rows: repeat(1, 1fr);
}

.UserInfo__li {
    display: grid;
    grid-template-columns: 15% 85%;
}

.UserInfo__li__title {
    justify-self: start;
    color: rgb(88, 88, 88);
}

.UserInfo__footer {
    display: grid;
    grid-area: ui-footer;
    grid-template-columns: repeat(5, 1fr);
}

.UserInfo__footer__item {
    text-decoration: none;
    text-align: center;
    color: rgb(92, 87, 87);
}

.item__count {
    font-size: 23px;
    color: rgb(41, 80, 95);
}