.profile {
    display: grid;
    grid-template-areas: 
    'avatar userinfo'
    'friends posts'
    ;

    grid-template-columns: 1fr 4fr;
    padding: 10px;
}

.UserInfo {
    grid-area: userinfo;
}

.Posts {
    grid-area: posts;
}

.avatar {
    grid-area: avatar;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}


.btn {
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
}