@font-face {
    font-family: 'Hachi Maru Pop', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
}

.header {
    grid-area: h;
    display: grid;
    grid-template-areas:
    'logo name'
    ;
    grid-template-columns: 2fr 2fr 8fr;
    border: 1px solid #686868;
    border-radius: 5px;
  }

.citename {
    grid-area: name;
    text-transform: uppercase;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 700;
    font-size: 20px;
    align-self: center;
    justify-self: start;
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}
  
.header img {
    width: 100px;
}

.login__block {
    float: right;
}

.login__block a {
    text-decoration: none;
    color: black;
}

.login__block a:hover {
    color: #0088ff;
}


  