.Posts {
    display: grid;
    padding: 5px 10px;
}

.Posts--title {
    font-size: 30px;
    margin-bottom: 20px;
}

.Posts--new {
    border: 3px solid;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.Posts--new--title {
    font-size: 20px;
    margin-bottom: 15px;
}

.Posts--new--subtitle {
    border: 1px solid rgb(48, 93, 138);
    padding: 2px;
    margin-bottom: 15px;
}

.btn--send {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    height: 20px;
    padding: 5px;
    border: 2px solid black;
    margin: 5px 0;
    width: 40px;
    cursor: pointer;
}

.btn--send:hover {
    background-color: rgb(19, 204, 102);
    color: white;
}

.Posts--post {
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid rgb(63, 148, 245);
    padding: 4px 0;
    margin: 10px 0;
}

.Posts--post--title {
    justify-self: center;
    display: grid;
    grid-template-rows: 20% 80%;
}

.title--uresname {
    font-size: 20px;
}

.Post--avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-top: 10px;
}

.title--username {
    justify-self: center;
    font-size: 17px;
}


.Posts--post--subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}