.nav {
    grid-area: n;
    padding: 20px;
    border: 1px solid #686868;
    border-radius: 5px;
    height: 600px;
}

.item__link {
    text-decoration: none;
    color: black;
}

.item a.active {
    color: cornflowerblue;
}